*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
   
}
body{
    font-family: 'Roboto', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background-color: rgb(119, 189, 247);
}
header{
    text-align: center;
    background-image: linear-gradient(to left bottom, #135bc7, #007fdf, #009fea, #00beec, #12daeb);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
main{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.carousel-inner{
    border: #009fea solid 1px;
    border-radius: 10px;
    background-image: linear-gradient(to left bottom, #135bc7, #007fdf, #009fea, #00beec, #12daeb);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.carousel-item{
    text-align: center;
  transition:all 1s ease;
  -webkit-transition:all ;
  -moz-transition:all ;
  -ms-transition:all ;
  -o-transition:all ;
  padding: 30px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  -webkit-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  -moz-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  -ms-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  -o-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}
.nombre{
    font-size: 40px;
    text-shadow: 2px 1px #131212;
    color: rgb(17, 16, 16);
    font-weight: bold;
    background-color: aliceblue;
    padding: 15px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    margin: 10px;
}
.habilidades{
    font-size: 30px; 
    color: rgb(17, 16, 16);
    font-weight: bold;
    
    
}
.carousel-control-prev,
.carousel-control-next{
    background-color: transparent;
    border: none;
    margin: 30%;
   
}
.carousel-control-prev{
    left: -150px;
}
.carousel-control-next{
    right: -150px;
}
